.breadcrumbs{
	margin-bottom:20px;
}
.bread_list{
//	width:100px;
	float:left;
	color: #000;
}

.bread_item{
	display:inline-block;
}
.bread_item:not(:first-child):before{
	content: ' > ';
}
.bread_link{
	text-decoration: none;
    color: #000;
    display:inline-block;
    &:hover{
    	text-decoration: underline;
}
}

.bread_link_active{
	color: #ff6e35;
    text-decoration: underline;
    &:hover{
    	text-decoration: underline;
    }
}
