@import "sprite_all.scss";
.head-filter {
        @include clearfix;
        background-color: rgba(217, 229, 234, 0.6);
        border: 1px solid #dee1e4;
        border-radius: 5px;
        padding: 12px 25px;
        margin-bottom: 20px;
        &__sort {
            float: left;
            .head-filter__text{
                margin-right: 10px;
            }
        }
        &__view {
            float: right;
            margin-top: 8px;
            a {
                display: block;
                float: left;
                margin-left: 35px;
               // overflow: hidden;
                text-indent: -9999px;
               
            }
            div {
                float:left;
            }
            .head-filter__text{
                float: left;
                margin-top: -3px;
                color: #5d656c;
            }
            &_list {
                @include sprite($list);
                &.active {
                    @include sprite($list-hover);
                }
            }
            &_blocks {
                @include sprite($block);
                &.active {
                    @include sprite($block-hover);
                }
            }
            &_rows {
                @include sprite($list-block);
                &.active {
                    @include sprite($list-block-hover);
                }
            }
        }
    }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    @include sprite($show-line-sort);
    display: block;
    margin-top: 10px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    @include sprite($hide-line-sort);
}